In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\anu10\Instacart Basket Analysis'

In [5]:
path

'C:\\Users\\anu10\\Instacart Basket Analysis'

In [6]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data\Original Data\orders_products_prior.csv'), index_col = False)

In [7]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
# import the order data set
df_orders = pd.read_csv(os.path.join(path, '02 Data\Original Data\orders.csv'), index_col = False)

In [10]:
# Check the output
df_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_orders.shape

(3421083, 7)

In [13]:
df_merged_large = df_orders.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.shape

(32434489, 11)

In [15]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [23]:
df_orders_products = df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [24]:
df_orders_products.shape

AttributeError: 'NoneType' object has no attribute 'shape'

In [ ]:
df_merged_large

In [ ]:
df_merged_large.shape